.Home {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;

  width: 100%;
  height: 100%;
  padding: 10px;
}

.BlogPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px;

}